<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">I can get it done!</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">I have always delivered on my projects. Sometimes I get to learn something new other times I get to collaborate with others to get it done. One way or another I will get the job done.</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">What can I do?</a>
      </div>
    </div>
  </div>
</section>