<!-- Bootstrap core JavaScript -->
    <script src="script/vendor/jquery/jquery.min.js"></script>
    <script src="script/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="script/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="script/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="script/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="script/js/creative.min.js"></script>

    <!-- add this script -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b7a44539f05dad4"></script>